/* Header */
.large-header {
  
  background: black;
  overflow: clip;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

#landing {
  position: relative;
 
  z-index: 999;
}

#canvas1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;



  background-color: black;
  overflow: clip;
}

#content-bg {
  height: 100vh;
  position: fixed;
  top: 0;
  
}

#canvas-2 {
  overflow-clip-margin: content-box;
  overflow: clip;
}



